@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 44, 255, 255;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 47, 124, 135;
    --background-end-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-start-rgb), 0.22)
    )
    rgb(var(--background-end-rgb));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  overflow: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
